// Write variable scss
$primary-100: #fce7d3;
$primary-200: #f9cfa7;
$primary-300: #f5b77c;
$primary-400: #f29f50;
$primary-500: #f06c25;
$primary-600: #bf6c1d;
$primary-700: #8f5116;
$primary-800: #60360e;
$primary-900: #301b07;
$white: #fff;
$black: #101010;
